.cell {
      width: 40px;
      height: 40px;
      outline: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: beige;

}
.isWall{
  background-color: black;
}