.cell {
      width: 20px;
      height: 20px;
      outline: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: beige;

}
.isBaseWall{
  background-color: black;
}
.isStart{
  background-color: blueviolet;
}
.isFinish{
  background-color: darkorange;
}
.visited{
  background-color: aqua;
}
.current{
  background-color: brown;
}
.shortestPath{
  background-color: yellow;
}
